.addCartbut {
	color: #FFFFFF;
	font-size: 14px or rem/em equivalent;
	background-color: #338700;
	border-radius: 0;
	border-color: none;
}
.itemRow {
	padding: 10px;
}
.bgColor {
	background-color: #fff;
	padding: 10px;
}
#header {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	padding: 20px;
}
.textPadd {
	margin-left: 20px;
}
.txtGray {
	color: #c3c3c3;
}
.txtGrayLine {
	color: #c3c3c3;
	text-decoration: underline;
	cursor: pointer;
}
.qtity {
	width: 40px;
	border-radius: 0;
	height: 30px;
}
.marBottom {
	margin-bottom: 0;
	font-size: 14px;
	color: #c2c2c2;
}
.checkoutPadding {
	padding: 10px;
}
.checkoutPadding button {
	margin-left: 20px;
	border-radius: 0;
	cursor: pointer;
}
.checkoutPadding p {
	text-decoration: underline;
	margin-top: 8px;
	cursor: pointer;
}
.qtyy input::placeholder {
 font-size: 10px;
 opacity: 0.7;
}
.marBottom0 {
	margin-bottom: 0;
}
.secutePara {
	color: #c2c2c2;
}
.borderBott {
	border-bottom: 5px solid #ccc;
}
.borderBottWidget {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
#overlayImg {
	margin-top: 50px;
}
.editGroup {
	margin-top: 20px;
	color: #AFABAB;
	font-size: 15px;
	cursor: pointer;
}
.promoArea {
	padding: 20px 20px 10px 0px;
	margin-bottom: 15px;
}
.contactArea {
	padding-top: 20px;
}
.promoCode {
	border-radius: 0;
}
#editBtn {
	border-radius: 0;
}
.blueBtn {
	border-radius: 0;
	background-color: #fff;
	color: #333;
	border: 1px solid #333;
	cursor: pointer;
}
.qualityShipping {
	margin-bottom: 10px;
	font-size: 14px;
	color: #c2c2c2;
}
.margBottom-1 {
	margin-bottom: 0;
}
.pDetails {
	margin-top: 5px;
	color: #c2c2c2;
	text-decoration: underline;
	cursor: pointer;
}
.overlayPara {
	padding-top: 20px;
	border-top: 4px solid #c2c2c2;
	margin-top: 20px;
	text-align: center;
	margin-bottom: 0;
}
.overlayPrice {
	font-size: 30px;
	text-align: center;
}
.otherColor {
	height: 15px;
	width: 18px;
	background-color: #D6DC94;
	display: block;
}
#checkout a {
	color: #fff;
}
.orgColor {
	height: 15px;
	width: 18px;
	background-color: #A6D18B;
	display: block;
}
.overlayParabottom {
	margin-bottom: 0;
}
.oColors {
	padding-left: 87px;
}
.oColors span {
	float: left;
	margin-right: 10px;
}
.overlayQty {
	width: 40px;
	margin-left: 20px;
	margin-top: 10px;
}
#totalItemsMob {
	display: none;
}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
}

@media only screen and (min-device-width: 320px)and (max-device-width : 640px) {
#headr {
	display: none !important;
}
#widgetImg {
	text-align: center;
}
#mobCenter {
	text-align: center;
}
#mobCode {
	text-align: center;
}
#mobQty {
	text-align: center;
}
#mobButton {
	width: 100%;
}
#mobPrice {
	margin: 10px;
	text-align: center;
}
#appluBut {
	width: 100%;
	margin-top: 10px;
}
.oColors {
	padding-left: 158px;
}
#totalItemsMob {
	display: block;
}
}
